html, body {
  width:100%;
  height:100%;
  overflow:hidden;
  background-color:#000;
  margin:0;
  padding:0;
  font-family:Arial, Helvetica, sans-serif;
}

img {
  max-width:100%;
  max-height:100%;
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  z-index:0;
}

#stats {
  position:absolute;
  left: 40px;
  bottom: 40px;
  background-color:rgba(255,255,255,0.7);
  padding:10px;
  z-index:10;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}

td {
  color:#333;
  font-size:15px;
  font-weight:normal;
  padding:2px 4px;
}

td.team-name {
  text-align:right;
  font-weight:bold;
}

.meter {
  width:300px;
  height:10px;
  padding:0;
  margin:0;
  position:relative;
}        

.score {
  position:absolute;
  top:0;
  left:0;
  height:10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  
  /* .box-shadow(2px, 2px, 4px, 0, rgba(0, 0, 0, 0.3)); */
  
  background-color: #ff9c00;
  background:-webkit-gradient(linear, left top, left bottom, from(#ff9c00), to(#c67900));
  background:-moz-linear-gradient(top, #ff9c00, #c67900);
  background:-webkit-linear-gradient(top, #ff9c00 0%, #c67900 100%);
  background:-o-linear-gradient(top, #ff9c00 0%, #c67900 100%);
  background:-ms-linear-gradient(top, #ff9c00 0%, #c67900 100%);
  background:linear-gradient(#ff9c00, #c67900);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#ff9c00, EndColorStr=#c67900);
  
  -moz-box-shadow:2px 2px 4px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow:2px 2px 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow:2px 2px 4px 0 rgba(0, 0, 0, 0.3);
}

#img-caption {
  position:absolute;
  top:0;
  left:0;
  display:block;
  width:100%;
  margin:0;
  padding:14px 0 0 0;
  text-align:center;
}

#img-caption span {
  position:relative;
  padding:14px;
  display:inline-block;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  background-color:rgba(255,255,255,0.7);
  font-size:18px;
  margin:0 auto;
  z-index:5;
}

